.header{
    height: 150px;
    color: white;
    width: 100%;
    /* background-color: red; */
}
.header .head ul{
    display: flex;
    height: 48px;
    line-height: 48px;
    text-align: center;
}
.header .head .first{
    font-family: "iconfont" !important;
    font-size: 25px;
    margin-left: 30px;
}
.header .head .third{
    font-family: "iconfont" !important;
    font-size: 25px;
    margin-right: 30px;
}
.header .head .second{
    font-size: 35px;
    flex: 1;
}
.banner{
    width: 95%;
    margin: 0 auto;
    height: 120px;
}
.footer{
    font-size: 12px;
    color: black;
    height: 100px;
    display: flex;
    border-bottom: 1px solid #C1C1C1;
}
.footer div{
    flex: 1;
    text-align: center;
}
.footer .iconfont{
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 67px;
    margin-bottom: 5px;
}