.songlist .count{
    font-size: 12px;
    margin-left: 50px;
    margin-top: -15px;
    color: white;
}
.songlist .name{
    display: -webkit-box; 
    font-size: 10px;
    margin-top: 70px;
    line-height: 15px;
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 30px;
}
.songlist{
    background-size: 100% 70%;
    background-repeat: no-repeat;
    
}