.recommand-header{
    width: 100%;
    height: 50px;
    background-color: red;
    line-height: 50px;
    color: white;
    margin-bottom: 20px;
}
.recommand-header .iconfont{
    color: white;
    margin: 0 15px;
}